<div class="container">
  <div class="inputs-group">
    <div class="component">
      <app-custom-input
        type="text"
        label="Input Name"
        placeholder="Enter here..."
        variant="standard"
        focusEffect="underline"
        width="300px"
      />
      <app-custom-input
        type="text"
        label="Input Name"
        placeholder="Enter here..."
        variant="label-left"
        focusEffect="underline"
        width="300px"
        inputWidth="140px"
      />
      <app-custom-input
        type="text"
        label="Input Name"
        placeholder="Enter here..."
        variant="floating"
        focusEffect="underline"
        width="300px"
      />
      <app-custom-input
        type="text"
        label="Input Name"
        placeholder="Enter here..."
        variant="outline"
        focusEffect="underline"
        width="300px"
      />
    </div>
    <div class="component">
      <app-custom-input
        type="password"
        label="Input Name"
        placeholder="Enter here..."
        variant="standard"
        focusEffect="underline"
        width="300px"
      />
      <app-custom-input
        type="password"
        label="Input Name"
        placeholder="Enter here..."
        variant="label-left"
        focusEffect="underline"
        width="300px"
        inputWidth="140px"
      />
      <app-custom-input
        type="password"
        label="Input Name"
        placeholder="Enter here..."
        variant="floating"
        focusEffect="underline"
        width="300px"
      />
      <app-custom-input
        type="password"
        label="Input Name"
        placeholder="Enter here..."
        variant="outline"
        focusEffect="underline"
        width="300px"
      />
    </div>
    <div class="component">
      <app-custom-input
        type="list"
        label="Input Name"
        placeholder="Enter here..."
        variant="standard"
        focusEffect="underline"
        width="300px"
        [options]="option"
        required
        disabled
      />
      <app-custom-input
        type="list"
        label="Input Name"
        placeholder="Enter here..."
        variant="label-left"
        focusEffect="underline"
        width="300px"
        inputWidth="140px"
        [options]="option"
        required
        disabled
      />
      <app-custom-input
        type="list"
        label="Input Name"
        placeholder="Enter here..."
        variant="floating"
        focusEffect="underline"
        width="300px"
        [options]="option"
        required
        disabled
      />
      <app-custom-input
        type="list"
        label="Input Name"
        placeholder="Enter here..."
        variant="outline"
        focusEffect="underline"
        width="300px"
        [options]="option"
        required
        disabled
      />
    </div>
  </div>
  <div class="component">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-custom-input
        variant="standard"
        formControlName="helmet1"
        label="Helmet"
        placeholder="Enter value..."
        focusEffect="underline"
        width="400px"
      />
      <app-custom-input
        variant="label-left"
        formControlName="helmet2"
        label="Helmet"
        placeholder="Enter value..."
        focusEffect="underline"
        width="400px"
      />
      <app-custom-input
        variant="floating"
        formControlName="helmet3"
        label="Helmet"
        placeholder="Enter value..."
        focusEffect="underline"
        width="400px"
      />
      <app-custom-input
        variant="outline"
        formControlName="helmet4"
        label="Helmet"
        placeholder="Enter value..."
        focusEffect="outline"
        width="400px"
        validateOnSubmitOnly
      />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

